/* applying background color for all body */
body{
    background-color: bisque;
}

/* applying style for header */
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
}    

/* applying style for main div */
.main{
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 12px rgba(0,0,0,.1),8px 12px rgba(0,0,0,.1);
    height:250px;
    width:40%;
    margin: 0 auto;
    margin-top: 140px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
}
/* applying margin for input tag and button tag */
.main input,
.main button{
    margin-bottom: 10px;
}

/* applying style for button tag */
.main button{
    background-color: rgb(135, 230, 107);
    border-radius: 10%;
    font-size: large;
    margin: 7px;
    cursor: pointer;

}
/* applying tag for input tag */
.main input{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    font-size: large;
}
/* applying tag for label tag */
.main label{
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
}

/* applying tag for link tag( a tag) */
.signuplink a {
    text-decoration: none;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: black;
}

